{% extends 'modelsapp/base.html' %}

{% block content %}
<ul style="list-style: none;font-size: 24px;">
		<li>Название: {{ product.name }}</li>
		{% if product.expiration_date %}
		<li>Срок годности: {{ product.expiration_date }}</li>
		{% else %}
		<li>Срок годности: Нет информации</li>
		{% endif %}
		<li>Поставщик: {{ product.provider }}</li>
		<li>Цена: {{ product.price }}</li></li>
</ul>
<a class="btn btn-primary" href="{% url 'update_product' product.pk %}" >Редактировать</a>
<a class="btn btn-danger" href="{% url 'delete_product' product.pk %}" >Удалить</a>
{% endblock %}