{% extends 'modelsapp/base.html' %}

{% block content %}
<div style="margin: auto; width: 50%;">
	<form role="search" method="get">
			{{ form }}
	</form>
	<form role="search" method="get">
			{{ form_price }}
	</form>
</div>
{% for p in products %}
	<ul style="list-style: none;font-size: 24px;margin-top: 30px;">
		<div>
			<li style="display: inline-block;">Название: <a href="{{p.get_absolute_url}}" style="text-decoration: none;">{{ p.name }}</a></li>
			<span class="fs-5">Цена: {{p.price}} руб.</span>
		</div>

	</ul>
{% endfor %}

{% endblock %}